.base {
    min-width: 280px;
    height: 90px;
    border: 4px solid;
    border-radius: 8px;
    font-size: 24px;
    font-weight: 600;
    user-select: none;
    cursor: pointer;
    transition: color 0.5s, border-color 0.5s;

    &__disabled {
        pointer-events: none;
    }

    &__primary {
        background-color: #fff;
        border-color: rgba(0, 0, 0, 0.1);
        color: #000;

        &:hover {
            border-color: rgba(0, 0, 0, 0.4);
        }

        &:focus {
            border-color: rgba(0, 0, 0, 0.5);
        }

        &.base__disabled {
            color: rgba(0, 0, 0, 0.5);
        }
    }

    &__danger {
        background-color: #f00;
        border-color: rgba(255, 255, 255, 0.5);
        color: #fff;

        &:hover {
            border-color: rgba(255, 255, 255, 0.7);
        }

        &:focus {
            border-color: rgba(255, 255, 255, 1);
        }

        &.base__disabled {
            color: rgba(255, 255, 255, 0.5);
        }
    }
}
