.base {
    width: 960px;
    margin: 75px auto;
}

.header {
    display: flex;
    align-items: center;
    justify-content: space-between;
    margin: 75px 0;
}

.title {
    font-size: 48px;
    color: #000;
}

.searchInput {
    width: 400px;
}

.cardList {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    grid-auto-rows: 336px;
    gap: 64px;
}

.footer {
    display: flex;
    justify-content: center;
    margin: 64px auto;
}

.loadMoreButton {
    width: 280px;
}
