@import "../../../../../styles/all";

$default_margin: 16px;

.layout {
    display: block !important;
    background-color: rgba(0, 0, 0, 0);
    transition: background-color 500ms;
    overflow: auto;

    &:global(.overlay-animation-appear-active), &:global(.overlay-animation-appear-done) {
        background-color: rgba(0, 0, 0, 0.3);
    }

    &:global(.overlay-animation-exit) {
        background-color: rgba(0, 0, 0, 0);
    }

    @include two_cards_big_max_gap {
        display: flex !important;
    }

    @include three_cards_small_max_gap {
        &__hasScroll {
            padding-right: 15px;
        }
    }
}

.base {
    min-width: $card_min_width + $min_offset;
    margin: 75px auto;
    padding: $default_margin;
    background: #f8f8f8;
    border-radius: 8px;
    filter: drop-shadow(0px 4px 10px rgba(0, 0, 0, 0.1));
    pointer-events: none;
    opacity: 0;
    transform: scale(0.5);
    transition: transform 500ms ease-in-out, opacity 500ms ease-out;

    :global(.overlay-animation-appear-active) &, :global(.overlay-animation-appear-done) & {
        transform: scale(1);
        opacity: 1;
        pointer-events: all;
    }

    :global(.overlay-animation-exit) & {
        transform: scale(0.5);
        opacity: 0;
        pointer-events: none;
    }

    @include one_card_small {
        width: $card_min_width;
    }

    @include one_card_big {
        width: $card_max_width;
    }

    @include two_cards_small_min_gap {
        width: $card_min_width * 2 + $card_min_gap;
    }
    @include two_cards_small_max_gap {
        width: $card_min_width * 2 + $card_max_gap;
        padding: $default_margin * 2;
    }
    @include two_cards_big_max_gap {
        width: $card_max_width * 2 + $card_max_gap;
        padding: $default_margin * 4;
        margin: 0 auto;
    }

    @include three_cards_small_min_gap {
        width: $card_min_width * 3 + $card_min_gap * 2;
    }
    @include three_cards_small_max_gap {
        width: $card_min_width * 3 + $card_max_gap * 2;
        padding: $default_margin * 2;
    }
    @include three_cards_big_max_gap {
        width: $card_max_width * 3 + $card_max_gap * 2;
        padding: $default_margin * 4;
    }

    @include four_cards_small_min_gap {
        width: $card_min_width * 4 + $card_min_gap * 3;
    }
    @include four_cards_small_max_gap {
        width: $card_min_width * 4 + $card_max_gap * 3;
        padding: $default_margin * 2;
    }
    @include four_cards_big_max_gap {
        width: $card_max_width * 4 + $card_max_gap * 3;
        padding: $default_margin * 4;
    }
}

.title {
    font-size: 48px;
    color: #000;
}

.error {
    font-size: 12px;
    font-weight: 600;
    color: #f00;
}

.main {
    display: flex;
    flex-direction: column;
    margin: $default_margin 0;

    @include two_cards_small_max_gap {
        margin: $default_margin * 2 0;
    }
    @include two_cards_big_max_gap {
        flex-direction: row;
        margin: $default_margin * 4 0;
    }

    @include three_cards_small_max_gap {
        margin: $default_margin * 2 0;
    }
    @include three_cards_big_max_gap {
        margin: $default_margin * 4 0;
    }

    @include four_cards_small_max_gap {
        margin: $default_margin * 2 0;
    }
    @include four_cards_big_max_gap {
        margin: $default_margin * 4 0;
    }
}

.map {
    height: 300px;
    margin-bottom: $default_margin;
    border: 1px solid rgba(0, 0, 0, 0.2);
    border-radius: 8px;

    @include two_cards_small_max_gap {
        margin-bottom: $default_margin * 2;
    }
    @include two_cards_big_max_gap {
        margin-bottom: 0;
        margin-right: $default_margin * 4;
        width: calc(100% - 280px * 2 - $default_margin * 8);
        height: auto;
    }

    @include three_cards_small_max_gap {
        margin-right: $default_margin * 2;
        width: calc(100% - 280px * 2 - $default_margin * 4);
    }
    @include three_cards_big_max_gap {
        margin-right: $default_margin * 4;
        width: calc(100% - 280px * 2 - $default_margin * 8);
    }

    @include four_cards_small_max_gap {
        margin-right: $default_margin * 2;
        width: calc(100% - 280px * 2 - $default_margin * 4);
    }
    @include four_cards_big_max_gap {
        margin-right: $default_margin * 4;
        width: calc(100% - 280px * 2 - $default_margin * 8);
    }
}

.inputsBlock {
    flex-grow: 2;
}

.label {
    font-size: 18px;
    font-weight: 600;
    color: #000;
}

.input {
    display: block;
    margin: 5px 0 30px;
    width: 100%;

    .label:last-child & {
        margin-bottom: 0;
    }
}

.footer {
    display: flex;
    justify-content: right;

    @include one_card_small {
        flex-direction: column;
    }

    @include one_card_big {
        flex-direction: column;
    }
}

.saveButton {
    margin: 0 $default_margin 0 0;

    @include one_card_small {
        margin: 0 0 $default_margin 0;
    }

    @include one_card_big {
        margin: 0 0 $default_margin 0;
    }

    @include two_cards_small_max_gap {
        margin-right: $default_margin * 2;
    }
    @include two_cards_big_max_gap {
        margin-right: $default_margin * 4;
    }

    @include three_cards_small_max_gap {
        margin-right: $default_margin * 2;
    }
    @include three_cards_big_max_gap {
        margin-right: $default_margin * 4;
    }

    @include four_cards_small_max_gap {
        margin-right: $default_margin * 2;
    }
    @include four_cards_big_max_gap {
        margin-right: $default_margin * 4;
    }
}
