$card_min_width: 330px;
$card_max_width: 450px;
$card_min_height: 296px;
$card_max_height: 336px;
$card_max_width: 450px;
$card_min_gap: 32px;
$card_max_gap: $card_min_gap * 2;
$min_offset: 30px;
$max_offset: 120px;
